@model IEnumerable<ISI_CRUD.Models.SalesByCategory>


@{
    ViewData["Title"] = "SalesByCategory";
}

<h1>
    Ventas por categoría
</h1>
<table class="table">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Product Name</th>
            <th>Product Sales</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.ProductName</td>
                <td>@item.ProductSales</td>
            </tr>
        }
    </tbody>
</table>
