@{
    ViewData["Title"] = "Home Page";
}

<h2>PRUEBA TÉCNICA – PRACTICA</h2>
<h3>Ingeniero de Soluciones de Información</h3>

<h3>1. Restaurar la base de datos en SQL Server Express. (Northwind.bak)</h3>

<h3>2. Crear una pequeña aplicación Web (.Net Core o Blazor Web Assembly) en Visual Studio .NET o VSCode que cumpla con los siguientes requisitos:</h3>
<ul>
    <li>Cree una página que permita administrar la información de la tabla de productos:</li>
    <ul>
        <li>Listado de productos</li>
        <li>Ingresar nuevo producto</li>
        <li>Eliminar producto</li>
        <li>Editar producto</li>
    </ul>
    <li>Cree una página que permita ver el listado de la vista “Alphabetical list of products”</li>
    <li>Cree una página que permita ver el listado de la vista “Sales by Category”</li>
    <li>Cree una nueva vista llamada “Análisis de precio” en la base de datos que permita consultar:</li>
    <ul>
        <li>El nombre del producto</li>
        <li>Precio unitario</li>
        <li>Precio promedio de todos los productos</li>
        <li>Diferencia que hay entre el precio promedio y el precio del producto.</li>
    </ul>
    <li>Cree una página que permita visualizar el listado de datos de la vista creada</li>
    <li>Genere una página inicial que permita ingresar a cada una de las opciones desarrolladas:</li>
    <ul>
        <li>Administración de Productos</li>
        <li>Listado alfabético de productos</li>
        <li>Ventas por categoría</li>
        <li>Análisis de precio</li>
    </ul>
</ul>

<h3>3. Requisitos:</h3>
<ul>
    <li>Usar .Net 6</li>
    <li>Usar Entity Framework Core, Como ORM o Dapper</li>
    <li>Iniciar desde una plantilla de aplicación (ASP.Net WEB APP ó Blazor WEB Assembly App)</li>
    <li>Usar Buenas prácticas de Desarrollo</li>
    <li>(Plus) Aplicar Clean Architecture</li>
</ul>

<h3>4. Entregar:</h3>
<ul>
    <li>Proyecto en GitHub compartido</li>
    <li>BackUp o Script de Bases de Datos usados</li>
</ul>
